.CalendarYear 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.CalendarYear > .CalendarMonth
{
    margin: 10px;
}

.CalendarYear .day
{
    height: 30px;
    width: 30px;
}